@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

/* NAVBAR */
nav{
   font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 20px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 24px;
}

.brand img{
    width: 50px;
    padding: 0 10px;
}

/* MAIN CONTAINER */
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;

    background-image: url("girlimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* SONG LIST */
.songList{
    width: 50%;
}

.songList h1{
    margin-bottom: 20px;
}

/* SONG ITEM */
.songItem{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    margin: 12px 0;
    width: 80%;
    border-radius: 34px;
    padding: 0 10px;
}

/* COVER IMAGE (FIXED ISSUE) */
.songItem img{
    width: 38px;
    height: 31px;
    margin-right: 12px;
    border-radius: 20px;
    object-fit: cover;

}

/* PLAY ICON + TIME */
.songlistplay{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.songlistplay i{
    cursor: pointer;
}

/* BOTTOM PLAYER */
.buttom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
}

/* ICONS */
.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}
.timestamp{
    margin: 0 18px;
}
.timestamp i{
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 6px;
}
.songInfo{
    position: absolute;
    left: 0;
 
}
.songInfo img{
   opacity: 0;
   transition: opacity 1s ease-in;
}